.App {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.alerts > div{
    margin-bottom: 10px;
}